In [1]:
import pandas as pd

#read the file 
my_data=pd.read_csv("xAPI-Edu-Data.csv")

my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [2]:
my_data.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   480.000000        480.000000         480.000000  480.000000
mean     46.775000         54.797917          37.918750   43.283333
std      30.779223         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.750000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [2]:
# Feature Creation

# we create a new column based on avr of old column
my_data.loc[(my_data.raisedhands > 46.775000 ), "apove_avr_of_raisedhands"]=1 
my_data.loc[(my_data.raisedhands < 46.775000 ), "apove_avr_of_raisedhands"]=0

my_data.loc[(my_data.VisITedResources > 54.797917 ), "apove_avr_of_VisITedResources"]=1
my_data.loc[(my_data.VisITedResources < 54.797917 ), "apove_avr_of_VisITedResources"]=0

my_data.loc[(my_data.Discussion > 43.283333 ), "apove_avr_of_Discussion"]=1
my_data.loc[(my_data.Discussion < 43.283333 ), "apove_avr_of_Discussion"]=0

In [3]:
#drop column that not help for us
columns_not_help = ["NationalITy","PlaceofBirth","Relation","ParentAnsweringSurvey"
,"SectionID","Semester","ParentschoolSatisfaction","AnnouncementsView"
,"raisedhands","VisITedResources","Discussion"]

my_data= my_data.drop(columns_not_help , axis=1)

my_data.head()

,gender,StageID,GradeID,Topic,StudentAbsenceDays,Class,apove_avr_of_raisedhands,apove_avr_of_VisITedResources,apove_avr_of_Discussion
0,M,lowerlevel,G-04,IT,Under-7,M,0.0,0.0,0.0
1,M,lowerlevel,G-04,IT,Under-7,M,0.0,0.0,0.0
2,M,lowerlevel,G-04,IT,Above-7,L,0.0,0.0,0.0
3,M,lowerlevel,G-04,IT,Above-7,L,0.0,0.0,0.0
4,M,lowerlevel,G-04,IT,Above-7,M,0.0,0.0,1.0

In [4]:
# Label encoding to change the Class column where "L"--> 1 , "M"--> 2" and "H"--> 0

my_data["Class"] = my_data["Class"].astype('category')
my_data["Class"] = my_data["Class"].cat.codes

my_data.head()

,gender,StageID,GradeID,Topic,StudentAbsenceDays,Class,apove_avr_of_raisedhands,apove_avr_of_VisITedResources,apove_avr_of_Discussion
0,M,lowerlevel,G-04,IT,Under-7,2,0.0,0.0,0.0
1,M,lowerlevel,G-04,IT,Under-7,2,0.0,0.0,0.0
2,M,lowerlevel,G-04,IT,Above-7,1,0.0,0.0,0.0
3,M,lowerlevel,G-04,IT,Above-7,1,0.0,0.0,0.0
4,M,lowerlevel,G-04,IT,Above-7,2,0.0,0.0,1.0

In [5]:
# one hot encoding to change the important columns 
gender_Column_Dummy=pd.get_dummies(my_data["gender"])
StageID_Column_Dummy=pd.get_dummies(my_data["StageID"])
GradeID_Column_Dummy=pd.get_dummies(my_data["GradeID"])
Topic_Column_Dummy=pd.get_dummies(my_data["Topic"])
StudentAbsenceDays_Column_Dummy=pd.get_dummies(my_data["StudentAbsenceDays"])

my_data = pd.concat((my_data,gender_Column_Dummy,StageID_Column_Dummy
,GradeID_Column_Dummy,Topic_Column_Dummy,StudentAbsenceDays_Column_Dummy),axis=1)

In [6]:
#drop the old columns 
my_data=my_data.drop(["StageID","GradeID","Topic","StudentAbsenceDays","gender"],axis=1)

In [7]:
#set x and y for start trining 
y=my_data["Class"]
x= my_data.drop("Class",axis=1).values

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score


lr_clf=LogisticRegression()
lr_clf.fit(x_train,y_train)
lr_clf.score(x_test,y_test)

y_pred=lr_clf.predict(x_test)

print(classification_report(y_test,y_pred))
print(f1_score(y_test,y_pred,average="weighted"))

              precision    recall  f1-score   support

           0       0.83      0.68      0.75        28
           1       0.81      0.96      0.88        23
           2       0.80      0.82      0.81        45

    accuracy                           0.81        96
   macro avg       0.82      0.82      0.81        96
weighted avg       0.81      0.81      0.81        96

0.8093349134525605